/* style of header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    height: 140px;
    padding: 16px 80px;
}

.header_maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header_logo_text {
    font-size: 36px;
    font-family: 'Bangers';
    font-weight: bold;
    color: rgba(249, 78, 77, 1);
}

.search_pokemon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* end of header style */

/* style of footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(249, 78, 77, 1);
    color: white;
    height: 140px;
    padding: 16px 80px;
}

.footer_maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer_text {
    font-family: 'Luckiest Guy';
    font-size: 16px;
    color: white;
}

.fsz {
    font-family: 'Bangers';
    font-size: 36px;
}

/* end of footer style */

/* style of main */
.main_maxWidth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


/* style of section loading screen */
.loading_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 100%;
}

.loading_screen_none {
    display: none;
}

.loading_text {
    font-size: 24px;
    color: rgba(158, 156, 156, 1);
}

/* end of section loading screen style */

/* style of pokemon list */
.pokemon_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    /*z-index: 1;*/
}

.pokemon_list::before {
    content: "";
    position: absolute; 
    top: 80px;
    left: 80px;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 400px;
    background-image: url(./assets/icon/pokeball_blackWhite.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: right;
    opacity: 0.2;
    z-index: -1
}

.pokemon_list_none {
    display: none;
}

.pokemon_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    border-bottom: 2px solid rgba(158, 156, 156, 1);
    border-right: 2px solid rgba(158, 156, 156, 1);
    border-top: none;
    border-left: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 24px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.pokemon_id_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.load_more_pokemons {
    margin-bottom: 48px;
}
/* end of pokemon list style */
/* end of main stlye */