/* style of header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    height: 140px;
    padding: 16px 80px;
}

.header_maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    max-width: 1440px;
    margin: 0 auto;
}

.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header_logo_text {
    font-size: 56px;
    font-family: 'Bangers';
    font-weight: bold;
    color: rgba(249, 78, 77, 1);
}

.search_pokemon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/* end of header style */

/* style of footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(249, 78, 77, 1);
    color: white;
    height: 140px;
    padding: 16px 80px;
}

.footer_maxWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer_text {
    font-family: 'Luckiest Guy';
    font-size: 16px;
    color: white;
}

.fsz {
    font-family: 'Bangers';
    font-size: 36px;
}

/* end of footer style */

/* style of main */
.main_maxWidth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


/* style of section loading screen */
.loading_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    height: 100%;
}

.loading_screen_none {
    display: none;
}

.loading_screen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
}

.loading_text {
    font-size: 24px;
    color: rgba(158, 156, 156, 1);
}

.scroll_lock {
    overflow-y: hidden;
}

/* end of section loading screen style */

/* style of pokemon list */
.pokemon_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 80px 80px;
}

.pokemon_list::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 80px;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 800px;
    background-image: url(./assets/icon/pokeball_blackWhite.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: right;
    opacity: 0.2;
    z-index: -1
}

.pokemon_list_none {
    display: none;
}

.pokemon_card_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.pokemon_main_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 64px;
    border-bottom: 2px solid rgba(158, 156, 156, 1);
    border-right: 2px solid rgba(158, 156, 156, 1);
    border-top: none;
    border-left: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    width: 240px;
    padding: 24px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.pokemon_main_card:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 1);
    border-bottom: 4px solid rgba(158, 156, 156, 1);
    border-right: 4px solid rgba(158, 156, 156, 1);
    cursor: pointer;
}

.pokemon_id {
    font-size: 24px;
    color: white;
}

.pokemon_img_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 0;
}

.pokemon_img_size {
    width: 160px;
    height: 160px;
}

.pokemon_name {
    font-size: 32px;
    color: white;
}

.pokemon_types {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.pokemon_type {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 2);
    height: 32px;
    width: 72px;
    border-radius: 40%;
}

.pokemon_type_none {
    display: none;
}

.load_more_pokemons {
    margin-top: 48px;
}

/* end of pokemon list style */

/* style of pokemon_card_dialog*/
.pokemon_card_content {
    border: none;
    border-radius: 40px;
}

.pokemon_card_header {
 
}

/* end of pokemon_card_dialog style*/
/* end of main stlye */