.pokeball_img {
    height: 104px;
    width: 104px;
}

.search_input {
    font-family: 'Luckiest Guy';
    font-size: 16px;
    border-radius: 24px;
    border: 2px solid rgba(158, 156, 156, 1);
    width: 280px;
    height: 40px;
    padding: 0 24px;
    color: rgba(158, 156, 156, 1);
}

.search_input:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.search_input:focus {
    outline: none;
    border-color: rgba(158, 156, 156, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.search_input::placeholder {
    color: rgba(249, 78, 77, 1);
    opacity: 0.2;   
}

.button {
    font-family: 'Luckiest Guy';
    border-radius: 24px;
    border: none;
    background-color: rgba(249, 78, 77, 1);
    color: white;
}

.button:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.search_button {
    font-size: 16px;
    width: 80px;
    height: 40px;
}

.load_more_button {
    font-size: 16px;
    width: 200px;
    height: 40px;
}