.pokeball_img {
    height: 120px;
    width: 120px;
}

.search_input {
    font-family: 'Luckiest Guy';
    font-size: 16px;
    border-radius: 24px;
    border: 2px solid rgba(158, 156, 156, 1);
    width: 280px;
    height: 40px;
    padding: 0 24px;
    color: rgba(158, 156, 156, 1);
}

.search_input:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.search_input:focus {
    outline: none;
    border-color: rgba(158, 156, 156, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.search_input::placeholder {
    color: rgba(249, 78, 77, 1);
    opacity: 0.2;
}

.button {
    font-family: 'Luckiest Guy';
    border-radius: 24px;
    border: none;
    background-color: rgba(249, 78, 77, 1);
    color: white;
}

.button:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.search_button {
    font-size: 16px;
    width: 80px;
    height: 40px;
}

.load_more_button {
    font-size: 16px;
    width: 200px;
    height: 40px;
}

.load_button_none {
    display: none;
}

.pokemon_img_size {
    width: 160px;
    height: 160px;
}

.pokemon_img_size_card {
    width: 80px;
    height: 80px;
}

.pokemon_card_nexTo_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    width: 80px;
    height: 40px;
}

.pokemon_card_nexTo_button:hover {
    color: rgba(158, 156, 156, 1);
    font-weight: bold;
}

@media(min-width: 630px) and (max-width: 939px) {
    .pokeball_img {
        height: 80px;
        width: 80px;
    }

    .search_input {
        width: 200px;
        height: 32px;
    }

    .search_button {
        width: 80px;
        height: 32px;
    }
}

@media(min-width: 320px) and (max-width: 629px) {
    .pokeball_img {
        height: 64px;
        width: 64px;
    }

    .search_input {
        width: 120px;
        height: 32px;
    }

    .search_button {
        width: 64px;
        height: 32px;
    }

    .pokemon_img_size {
        width: 120px;
        height: 120px;
    }
}