@font-face {
    font-family: 'Bangers';
    src: url('/assets/fonts/400/Bangers-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luckiest Guy';
    src: url('/assets/fonts/400/LuckiestGuy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}