.pokeball_loader {
    position: relative;
    border: 16px solid rgba(158, 156, 156, 1);
    border-radius: 50%;
    width: 240px;
    height: 240px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 3s linear infinite;
}

.pokeball_loader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(158, 156, 156, 1);
    transform: translateY(-50%);
}

.pokeball_loader::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 8px solid rgba(158, 156, 156, 1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.pokeball_loader_bg {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(249, 78, 77, 1) 50%, white 50%);
    z-index: -1;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}