* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}